
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  background-image: url("/mem.jpg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center right;
}
.title{
  color: gold;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Instrument Serif', serif;
  margin-right: 20px;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #013067;
}
header .header-left {
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 140px;
}
header .header-left nav {
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 24px;
  padding: 5px 10px;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}
nav .login-signup {
  display: none;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .login-signup {
  color: #cfd9e0;
  font-weight: bold;
}
header .login-signup a {
  display: inline-block;
  color: #0b2239;
  background: #4ad295;
  padding: 5px 12px;
  border-radius: 5px;
}
header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
/*-----------------------------------profile----------------------------------------------------------*/


.pprroo{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}


  .proimgg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 33vh;
    border-color: #013067;
    
}

label{
    font-weight: bold;
    color: #013067;
    width: 50px;
 }
  

  .input-field {
    display: block;
    margin-bottom: 5px;
    width: 100%;
	padding: 5px;
    
	box-sizing: border-box;
    
  }
  
  .save {
    background-color: #013067;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .footer{
    background-color: #013067;
    color: #fff;
    padding: 1em;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1em;
    font-weight: 600;
}

.footer-title span{
    color: gold;
}

.footer .social-icons a{
    font-size: 1.2em;
    padding: 0 12 0 0;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
}



@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
  }
  @media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
  }